<html>
    <head></head>
    <body>
        <form action="/register" method="post">
            login : <input type="text" name="user" />
            pass : <input type="password" name="pass" />
            <input type="submit" value="valider" />

        </form>
    </body>
</html>